Classroom Info
<p>
    <%= render partial: 'classroom', locals: {classroom: @classroom}%>
</p>

Students in class:
<% @classroom.students.each do |student| %>
    <li><%= render partial: 'students/student', locals: {student: student} %></li>
<% end %>

